<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>
        Deck EDitor
    </title>
</head>


<html>
    <body>
        <header>
            <div class="navigation">
                <h1><a href="../../index.html">Deck EDitor</a></h1>
                <nav>
                    <ul>
                        <li><a href="Decklist.html">Decklist</a></li>
                        <li><a href="Database.html">Database</a></li>
                        <li><a href="About.html">About</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>section</section>
        <footer>footer</footer>
    </body>
</html>
